@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(177, 225, 255);
}



